@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

.container-recoverpass {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E1EEF9;
}

.box-formrecover {
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.box-formrecover form {
    width: 85%;
}

.box-formrecover form h2 {
    font-family: 'Inter', sans-serif;
    color: #007DEB;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1rem;
}

.box-formrecover form span {
    color: #6E6E6E;
    font-family: Inter;
    font-size: .9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2rem;
}

.box-formrecover form .wrapper-inputs_recover {
    width: 90%;
    margin: 1rem;
}

.box-formrecover form .wrapper-inputs_recover label {
    color: black;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: .5rem;
}

.box-formrecover form .wrapper-inputs_recover input {
    width: 100%;
    padding: .8rem .5rem;
    border-radius: 25px;
    border: 1px solid #E1EEF9;
    background: #E1EEF9;
}

.box-formrecover form .buttons {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 4.5rem;
}

.box-formrecover form .buttons button {
    width: 30%;
    padding: .6rem;
    border: none;
    color: white;
    cursor: pointer;
}

.box-formrecover form .buttons .btn-cancel {
    border-radius: 7px;
    background: #F03838;
}

.box-formrecover form .buttons .btn-next {
    border-radius: 7px;
    background: #007DEA;
}


@media (min-width: 600px) and (max-width: 900px) {
    .box-formrecover {
        width: 45%;
    }
}

@media screen and (max-width: 600px) {
    .box-formrecover {
        width: 90%;
    }
}